* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
  color: #7f6859; }

@font-face {
  font-family: "Garamond";
  src: url(../fonts/EBGaramond-Regular.ttf); }
@font-face {
  font-family: "Garamond";
  src: url(../fonts/EBGaramond-Bold.ttf);
  font-weight: 700; }
body {
  background-image: url(../picture/bg_img.webp); }

.header {
  width: calc(100% - 30px);
  display: flex;
  margin: 10px auto; }
  .header__img {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    width: 30%;
    padding: 10px;
    border: 2px solid #7f6859;
    overflow: hidden; }
  .header__foto {
    width: 250px; }
    @media screen and (min-width: 940px) {
      .header__foto {
        width: 100%; } }
  .header__container {
    width: 70%;
    display: flex;
    flex-wrap: wrap; }
  .header__title {
    width: calc(100% - 20px);
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (min-width: 680px) {
      .header__title {
        width: calc(80% - 20px); } }
    .header__title_name {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right; }
    .header__title_contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px auto; }
      @media screen and (min-width: 500px) {
        .header__title_contact {
          flex-direction: row;
          justify-content: space-between;
          margin: 0; } }
  .header__name {
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase; }
  .header__jobtitle {
    font-size: 24px; }
  .header__location {
    font-size: 18px; }
  .header__qrcode {
    width: 100%;
    display: none; }
    @media screen and (min-width: 680px) {
      .header__qrcode {
        display: block; } }
    .header__qrcode_img {
      width: 0; }
      @media screen and (min-width: 680px) {
        .header__qrcode_img {
          width: 20%; } }
  .header__profile {
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
  .header__birth {
    width: 100%;
    display: flex;
    margin-bottom: 5px; }
    @media screen and (min-width: 680px) {
      .header__birth {
        width: 80%; } }
  .header__text {
    font-size: 16px;
    white-space: nowrap; }
  .header__date {
    font-size: 16px; }

.points {
  flex-grow: 1;
  margin: 0 5px;
  position: relative; }
  .points::before {
    position: absolute;
    top: 12px;
    left: 0px;
    content: "";
    display: block;
    width: 100%;
    border-top: 2px dotted #7f6859; }

.bg__color {
  width: 100%;
  background: rgba(127, 104, 89, 0.3); }

.title__text {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin: 5px 0;
  text-align: center; }

.link__hover {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.2s linear;
  cursor: pointer; }
  .link__hover:hover {
    color: white;
    text-shadow: 1px 1px 2px #7f6859, 0 0 1em #7f6859, 0 0 0.2em #7f6859; }

.list__link {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0; }

.profile__text {
  font-size: 16px;
  text-indent: 20px; }

main {
  width: calc(100% - 30px);
  margin: 0 auto; }

.title {
  padding: 1px 0;
  margin-top: 15px; }
  .title__jobtitle {
    width: 100%;
    display: flex;
    margin-top: 15px; }

.jobtitle__text {
  font-weight: 700;
  font-size: 16px;
  margin-left: 25px;
  max-width: 100px; }
  @media screen and (min-width: 500px) {
    .jobtitle__text {
      max-width: 245px; } }
  @media screen and (min-width: 670px) {
    .jobtitle__text {
      max-width: 300px; } }
  @media screen and (min-width: 750px) {
    .jobtitle__text {
      max-width: 455px; } }
  .jobtitle__text_margin {
    margin-bottom: 10px; }
.jobtitle__date {
  font-size: 16px;
  text-align: right; }
.jobtitle__description {
  width: 95%;
  font-size: 16px;
  text-indent: 20px; }

.list__before {
  position: relative; }
  .list__before::before {
    position: absolute;
    top: 3px;
    left: -20px;
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border: 4px dotted #7f6859;
    transform: rotate(45deg); }

.point__before {
  margin-left: 30px;
  text-indent: 0;
  position: relative; }
  .point__before::before {
    position: absolute;
    top: 3px;
    left: -20px;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(127, 104, 89, 0.8); }

.degree__location {
  display: flex;
  justify-content: space-between; }

.education__degree {
  font-size: 16px;
  font-style: italic; }
.education__location {
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */
