* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Garamond";
  src: url(../fonts/EBGaramond-Regular.ttf);
}
@font-face {
  font-family: "Garamond";
  src: url(../fonts/EBGaramond-Bold.ttf);
  font-weight: 700;
}
body {
  background-image: url(../picture/bg_img.webp);
  // margin: 0 auto;
}
.header {
  padding-top: 50px;
  width: calc(100% - 30px);
  display: flex;
  margin: 0 auto;
  &__img {
    width: 30%;
    padding: 10px;
    border: 10px solid rgb(127, 104, 89);
  }
  &__foto {
    width: 100%;
    // object-fit: cover;
  }
  &__container {
    width: 70%;
    display: flex;
  }
  &__title {
    width: 80%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    &_name {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &_contact {
      display: flex;
      justify-content: space-between;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 42px;
    color: rgb(127, 104, 89);
    
  }
  &__jobtitle {
    font-size: 24px;
    color: rgb(127, 104, 89);
  }
  &__location {
    font-size: 18px;
    color: rgb(127, 104, 89);
  }
  &__phone {
    font-weight: 700;
    font-size: 16px;
    color: rgb(127, 104, 89);
  }
  &__email {
    font-weight: 700;
    font-size: 16px;
    color: rgb(127, 104, 89);
  }
  &__qrcode {
    width: 100%;
    &_img {
      width: 20%;
    }
  }
}
